<template>
  <div class="addgoods">
    <el-breadcrumb separator="/" class="breadcrumb">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert title="添加商品" type="info" center show-icon> </el-alert>
    <el-steps
      :active="Number(activedName)"
      finish-status="success"
      align-center
      style="width: 100%"
    >
      <el-step
        v-for="item in goodsInfoArr"
        :key="item.name"
        :title="item.label"
      ></el-step>
    </el-steps>
    <el-tabs tab-position="left" v-model="activedName">
      <el-tab-pane
        :label="item.label"
        :name="item.name"
        v-for="item in goodsInfoArr"
        :key="item.name"
      >
        <template v-if="item.name === '1'">
          <el-form
            :model="primaryCon"
            label-position="top"
            :rules="goodsInfoRules"
          >
            <el-form-item label="商品名称" prop="goods_name">
              <el-input v-model="primaryCon.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" prop="goods_price">
              <el-input v-model="primaryCon.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="primaryCon.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量" prop="goods_number">
              <el-input v-model="primaryCon.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" prop="goods_cat">
              <el-cascader
                v-model="primaryCon.goods_cat"
                :options="options"
                :props="{
                  label: 'cat_name',
                  value: 'cat_id',
                }"
              ></el-cascader>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name === '2'">
          <div v-for="(_item, i) in attrsMany" :key="_item.attr_id">
            <div>{{ _item.attr_name }}</div>
            <el-checkbox-group v-model="_item.attr_vals" size="mini">
              <el-checkbox
                v-for="val in _item.attr_vals"
                :key="val"
                :label="val"
                border
                >{{ val }}</el-checkbox
              >
            </el-checkbox-group>
            <!-- <el-checkbox
              @click.native="removeAttr(index, _item.attr_vals)"
              :key="index"
              v-for="(__item, index) in _item.attr_vals.split(',')"
              :label="__item"
              border
              checked
            ></el-checkbox> -->
          </div>
        </template>
        <template v-if="item.name === '4'">
          <el-upload
            class="upload-demo"
            :action="baseURL + 'upload'"
            :headers="headers"
            :file-list="fileList"
            :on-success="handleUploadSuccess"
            :on-remove="handleUploadRemove"
            name="file"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">
              只能上传jpg/png文件，且不超过500kb
            </div>
          </el-upload>
          <el-button type="primary" @click="chooseImg"> 选择文件</el-button>
          <input
            @change="handleChange"
            type="file"
            style="opacity: 0"
            ref="inpt"
          />
          <img v-if="src" :src="src" alt="" />
          <button @click="handleUpload">上传</button>
        </template>
        <template v-if="item.name === '5'">
          <quill-editor
            ref="myQuillEditor"
            v-model="content"
          
          />
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getCategories, getCategoriesAttrs } from "@/http/api";
import { api } from "@/http";
import axios from "axios";
export default {
  data() {
    return {
      primaryCon: {
        goods_name: "",
        goods_cat: "",
        goods_price: "",
        goods_number: 0,
        goods_weight: 0,
        goods_introduce: "",
        pics: "",
        attrs: "",
      },
      attrsMany: [],
      goodsInfoRules: {
        goods_name: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        goods_cat: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        goods_price: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        goods_number: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        goods_weight: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        goods_introduce: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
      },
      options: [],
      goodsInfoArr: [
        {
          label: "基本信息",
          name: "1",
        },
        {
          label: "商品参数",
          name: "2",
        },
        {
          label: "商品属性",
          name: "3",
        },
        {
          label: "商品图片",
          name: "4",
        },
        {
          label: "商品内容",
          name: "5",
        },
      ],
      activedName: "1",
      baseURL: api,
      fileList: [],
      headers: {
        Authorization: this.$store.state.token,
      },
      src: "",
      content: ''
    };
  },
  watch: {
    activedName(val) {
      if (val === "2") {
        if (this.primaryCon.goods_cat.length < 3) {
          this.$message({
            type: "error",
            message: "请选择三级分类",
          });
        } else {
          this.getCategoriesAttrs();
        }
      }
      if (val === "3") {
        if (this.primaryCon.goods_cat.length < 3) {
          this.$message({
            type: "error",
            message: "请选择三级分类",
          });
        }
      }
    },
  },
  methods: {
    handleChange(val) {
      // this.src = window.URL.createObjectURL(e.target.files[0]);
      let that = this;
      var reader = new FileReader();
      reader.onload = (function () {
        return function (e) {
          that.src = e.target.result;
        };
      })();
      reader.readAsDataURL(val.target.files[0]);
    },
    chooseImg() {
      this.$refs.inpt[0].click();
    },

    handleUpload() {
      const img = this.$refs.inpt[0].files[0];
      const fd = new FormData();
      fd.append("file", img);
      fd.append("name", "xiaoming");
      axios({
        url: this.baseURL + "upload",
        method: "POST",
        data: fd,
        headers: {
          Authorization: this.$store.token,
        },
      })
        .then((res) => {
          console.log("success: ", res);
        })
        .catch((err) => {
          console.log("Error: ", err);
        });
      console.log(img);
    },
    //上传图片移除
    handleUploadRemove(val) {
      const { uid } = val;
      let index = this.fileList.findIndex((item) => item.uid === uid);
      this.fileList.splice(index, 1);
    },
    //上传图片成功
    handleUploadSuccess(val) {
      const { tmp_path, url } = val.data;
      this.fileList.push({
        name: tmp_path,
        url: url.replace("localhost:", "localhost:8889"),
      });
      console.log(val);
    },
    async getCategories() {
      const res = await getCategories();
      this.options = res;
    },
    //获取分类参数
    async getCategoriesAttrs() {
      const res = await getCategoriesAttrs({
        id: this.primaryCon.goods_cat[2],
        sel: "many",
      });
      res.forEach((item) => {
        item.attr_vals = item.attr_vals.split(",");
      });
      this.attrsMany = res;
      console.log(res);
    },
    removeAttr(index, arr) {
      // this.attrsMany[i].attr_vals.splice(index,1)
      arr.split(index, 1);
    },
  },
  mounted() {
    this.getCategories();
  },
};
</script>
<style scope lang="scss">
.addgoods {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .breadcrumb {
    margin-bottom: 15px;
  }
}
</style>
