<template>
  <div class="users">
    <el-breadcrumb separator="/" class="breadcrumb">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row>
      <el-col :span="24">
        <el-input style="width: 300px; margin-right: 15px" v-model="query">
          <el-button
            slot="append"
            icon="el-icon-search"
            @click="handleSearch"
          ></el-button>
        </el-input>
        <el-button type="success" @click="addGoods" plain>添加商品</el-button>
      </el-col>
    </el-row>
    <el-table
      :data="tableObj?.goods"
      border
      style="width: 100%; margin-top: 15px"
    >
      <el-table-column width="50">
        <template slot-scope="scope">
          {{ scope.$index + (params.pagenum - 1) * params.pagesize + 1 }}
        </template>
      </el-table-column>
      <el-table-column prop="goods_name" label="商品名称"> </el-table-column>
      <el-table-column prop="goods_price" label="商品价格"> </el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"> </el-table-column>
      <el-table-column label="创建时间">
        <template slot-scope="scope">
          {{ scope.row.add_time | formateDate }}
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="mini"
          ></el-button>

          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="mini"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="mini"
            @click="handleRoles(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[1, 2, 4, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableObj?.total"
    >
    </el-pagination>
    <el-dialog title="分配角色" :visible.sync="roleDialog" width="30%">
      <el-form label-position="right" :model="roleForm" label-width="80px">
        <el-form-item label="用户名">
          <el-input disabled v-model="roleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="roleForm.rid" placeholder="请选择">
            <el-option label="请选择" disabled :value="-1"></el-option>
            <el-option v-for="item in rolesLists" :key="item.id" :label="item.roleName" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="roleDialog = false">取 消</el-button>
        <el-button type="primary" @click="distributeRole">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getGoodsLists, changeUserStatus,getUserInfo,getRolesLists,distributeRole } from "@/http/api";
export default {
  data() {
    return {
      params: {
        query: "",
        pagenum: 1,
        pagesize: 2,
      },
      tableObj: null,
      query: "",
      roleDialog: false,
      roleForm: {
          username: '',
          id: '',
          rid: ''
      },
      rolesLists: []
    };
  },
  methods: {
    //每页条数发生变化
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getGoodsLists();
    },
    //页码发生变化
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getGoodsLists();
    },
    //获取用户列表
    async getGoodsLists() {
      const res = await getGoodsLists(this.params);
      
      this.tableObj = res;
    },
    // //搜索用户
    async handleSearch() {
      this.params = { ...this.params, query: this.query, pagenum: 1 };
      //   this.params = Object.assign(this.params, {query: this.query, pagenum: 1})
      const res = await getGoodsLists(this.params);
      this.tableObj = res;
    },
    //改变用户状态
    async changeUserStatus({ id, mg_state }) {
      await changeUserStatus({
        id,
        type: mg_state,
      });
      this.getGoodsLists();
    },
    //分配角色
    async handleRoles({id,username}) {
      this.roleDialog = true;
      this.roleForm = Object.assign(this.roleForm, { id, username})
      this.getUserInfo(id)
      const res = await getRolesLists()
      this.rolesLists = res
    },
    //根据id查询用户信息
    async getUserInfo(id){
        const res = await getUserInfo(id)
        this.roleForm.rid = res.rid
    },
    //分配角色
    async distributeRole(){
        await distributeRole(this.roleForm)
        this.roleDialog = false
        this.getGoodsLists();
    },
    toggleFullScreen() {
      if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
      } else {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        }
      }
    },
    //添加商品
    addGoods(){
      this.$router.push({
        name: 'AddGoods'
      })
    }
  },
  created() {
    this.getGoodsLists();
  },
};
</script>
<style scoped lang="scss">
.users {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .breadcrumb {
    margin-bottom: 15px;
  }
}
</style>