<template>
  <div class="rights" v-drag-and-drop:options="options">
    <vue-draggable-group
      v-for="group in groups"
      v-model="group.items"
      :groups="groups"
      :key="group.id"
      :data-id="group.id"
      @change="onGroupsChange"
    >
      <ul class="lists">
        <li
          v-for="item in group.items"
          :key="item.id"
          :data-id="item.id"
        >
          <label v-text="item.name"></label>
        </li>
      </ul>
    </vue-draggable-group>
  </div>
</template>

<script>
import { VueDraggableDirective } from "vue-draggable";
export default {
  directives: {
    dragAndDrop: VueDraggableDirective,
  },
  data() {
    return {
      options: {
        onDrop: function (event) {},
        onDragstart: this.handleDrag,
        onDragenter: function (event) {},
        onDragover: function (event) {
          
        },
        onDragend: function (event) {},
      },
      groups: [
        {
          id: 1,
          name: 'Group 1',
          items: [
            { id: 1, name: 'Item 1' },
            { id: 2, name: 'Item 2' },
            { id: 3, name: 'Item 3' }
          ]
        },
        {
          id: 2,
          name: 'Group 2',
          items: [
            { id: 4, name: 'Item 4' },
            { id: 5, name: 'Item 5' },
            { id: 6, name: 'Item 6' }
          ]
        }
      ],
      cloneGroups: [
        {
          id: 3,
          name: 'Group 1',
          items: [
            { id: 11, name: 'Item 1' },
            { id: 21, name: 'Item 2' },
            { id: 31, name: 'Item 3' }
          ]
        },
        {
          id: 4,
          name: 'Group 2',
          items: [
            { id: 41, name: 'Item 4' },
            { id: 51, name: 'Item 5' },
            { id: 61, name: 'Item 6' }
          ]
        }
      ],
    };
  },
  methods: {
    onGroupsChange(groups) {
      if(groups[0].items.length > 0){

      }
    },
    handleDrag(val){
      
    }
  },
};
</script>
<style scoped lang="scss">
.rights {
  background-color: #fff;
  .lists {
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    li {
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      background-color: #eee;
      margin-right: 15px;
    }
  }

}
</style>