<template>
  <div class="roles" v-if="rolesLists.length > 0">
    <el-breadcrumb separator="/" class="breadcrumb">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button
      class="add-role"
      type="primary"
      @click="addRoleDialog = true"
      size="small"
      >添加角色</el-button
    >
    <el-table
      :data="rolesLists"
      border
      style="width: 100%"
      row-key="id"
      @expand-change="expandChange"
      :expand-row-keys="expandedRowKeys"
      :tree-props="{ children: '' }"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-row v-for="item in props.row.children" :key="item.id">
            <el-col :span="4">
              <el-tag closable type="primary" @close="delRoleRights(item.id)">
                {{ item.authName }}
              </el-tag>
            </el-col>
            <el-col :span="20">
              <el-row v-for="_item in item.children" :key="_item.id">
                <el-col :span="4">
                  <el-tag
                    closable
                    type="success"
                    @close="delRoleRights(_item.id)"
                  >
                    {{ _item.authName }}
                  </el-tag>
                </el-col>
                <el-col :span="20">
                  <el-tag
                    v-for="__item in _item.children"
                    style="margin-right: 15px; margin-bottom: 15px"
                    :key="__item.id"
                    closable
                    @close="delRoleRights(__item.id)"
                    type="warning"
                  >
                    {{ __item.authName }}
                  </el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column label="角色名称" prop="roleName"> </el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"> </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            circle
            size="small"
            icon="el-icon-edit"
            @click="handleEdit(scope.row)"
          ></el-button>
          <el-popconfirm
            title="是否删除此角色？"
            @confirm="handleConfirm(scope.row.id)"
          >
            <el-button
              slot="reference"
              circle
              size="small"
              icon="el-icon-delete"
            ></el-button>
          </el-popconfirm>
          <el-button
            circle
            size="small"
            icon="el-icon-check"
            @click="handleRightsDialog(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <a-table 
    bordered 
    :columns="columns" 
    :data-source="rolesLists" 
    @expand="handleExpand" 
    :pagination="false" 
    childrenColumnName="" 
    :expandedRowKeys="expandedRowKeys"
    :rowKey="(record,index)=>{return record.id}"
    @expandedRowsChange="handleExpandChange" >
      <template slot="action" slot-scope="text" href="javascript:;"> </template>
      <template slot="expandedRowRender" slot-scope="record">
        <el-row v-for="item in record.children" :key="item.id">
              <el-col :span="4">
                  <el-tag closable type="primary" @close="delRoleRights(item.id)"> {{item.authName}} </el-tag>
              </el-col>
              <el-col :span="20">
                <el-row v-for="_item in item.children" :key="_item.id">
                  <el-col :span="4">
                    <el-tag closable type="success" @close="delRoleRights(_item.id)">  {{_item.authName}} </el-tag>
                  </el-col>
                  <el-col :span="20">
                    <el-tag v-for="__item in _item.children"  style="margin-right:15px; margin-bottom:15px" :key="__item.id" closable  @close="delRoleRights(__item.id)" type="warning">  {{__item.authName}} </el-tag>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
      </template>
        
    </a-table> -->
    <el-dialog
      title="添加角色"
      :visible.sync="addRoleDialog"
      width="30%"
      @close="handleAddCancle"
    >
      <el-form
        ref="addRole"
        label-width="80px"
        :model="addRoleForm"
        size="small"
      >
        <el-form-item
          label="角色名称"
          prop="roleName"
          :rules="[
            {
              required: true,
              message: '请输入角色名称',
              trigger: ['change', 'blur'],
            },
          ]"
        >
          <el-input v-model="addRoleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          prop="roleDesc"
          :rules="[
            {
              required: true,
              message: '请输入角色描述',
              trigger: ['change', 'blur'],
            },
          ]"
        >
          <el-input v-model="addRoleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addRoleDialog = false" size="small">取 消</el-button>
        <el-button type="primary" @click="addRole" size="small"
          >确 定</el-button
        >
      </span>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editRoleDialog" width="30%">
      <el-form
        ref="editRole"
        label-width="80px"
        :model="editRoleForm"
        size="small"
      >
        <el-form-item label="角色ID" prop="roleId">
          <el-input v-model="editRoleForm.roleId" disabled></el-input>
        </el-form-item>
        <el-form-item
          label="角色名称"
          prop="roleName"
          :rules="[
            {
              required: true,
              message: '请输入角色名称',
              trigger: ['change', 'blur'],
            },
          ]"
        >
          <el-input v-model="editRoleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          prop="roleDesc"
          :rules="[
            {
              required: true,
              message: '请输入角色描述',
              trigger: ['change', 'blur'],
            },
          ]"
        >
          <el-input v-model="editRoleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editRoleDialog = false" size="small"
          >取 消</el-button
        >
        <el-button type="primary" @click="editRole" size="small"
          >确 定</el-button
        >
      </span>
    </el-dialog>
    <el-dialog title="角色授权" :visible.sync="deliverRoleDialog">
      <el-tree
        :data="data"
        show-checkbox
        node-key="id"
        ref="tree"
        :props="defaultProps"
        default-expand-all
      >
      </el-tree>

      <span slot="footer" class="dialog-footer">
        <el-button @click="deliverRoleDialog = false" size="small"
          >取 消</el-button
        >
        <el-button type="primary" @click="deliverRole" size="small"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  addRole,
  getRolesLists,
  delRoleRights,
  editRole,
  delRole,
  getRightsByTree,
  deliverRole
} from "@/http/api";
const columns = [
  { title: "角色名称", dataIndex: "roleName", key: "roleName" },
  { title: "角色描述", dataIndex: "roleDesc", key: "roleDesc" },
  {
    title: "操作",
    dataIndex: "",
    key: "x",
    scopedSlots: { customRender: "action" },
  },
];
export default {
  data() {
    return {
      addRoleDialog: false,
      editRoleDialog: false,
      addRoleForm: {
        roleName: "",
        roleDesc: "",
      },
      editRoleForm: {
        roleName: "",
        roleDesc: "",
        roleId: "",
      },
      rolesLists: [],
      columns,
      expandedRowKeys: [],
      roleId: "",
      deliverRoleDialog: false,
      data: [],
      defaultProps: {
        children: "children",
        label: "authName",
      },
    };
  },
  methods: {
    addRole() {
      console.log(23);
      this.$refs.addRole.validate(async (valid) => {
        if (valid) {
          await addRole(this.addRoleForm);
          this.addRoleDialog = false;
          this.$refs.addRole.resetFields();
          this.getRolesLists();
        }
      });
    },
    editRole() {
      console.log(23);
      this.$refs.editRole.validate(async (valid) => {
        if (valid) {
          await editRole(this.editRoleForm);
          this.editRoleDialog = false;
          this.$refs.editRole.resetFields();
          this.getRolesLists();
        }
      });
    },
    handleAddCancle() {
      console.log(123);
      this.$refs.addRole.resetFields();
    },
    handleEditCancle() {
      console.log(123);
      this.$refs.editRole.resetFields();
    },
    //获取角色列表
    async getRolesLists() {
      const res = await getRolesLists();
      this.rolesLists = res;
      this.$forceUpdate();
    },
    //删除角色对应的权限
    async delRoleRights(rightId) {
      await delRoleRights({
        roleId: this.roleId,
        rightId,
      });
      this.getRolesLists();
    },
    //展开行
    handleExpand(val, record) {
      this.roleId = record.id;
    },
    //展开行发生变化
    handleExpandChange(keys) {
      if (keys.length > 1) {
        this.expandedRowKeys = [keys[keys.length - 1]];
      } else {
        this.expandedRowKeys = keys;
      }
    },
    expandChange(a, b) {
      console.log(b);
      this.roleId = a.id;
      if (b.length >= 1) {
        this.expandedRowKeys = [b[b.length - 1].id];
      } else {
        this.expandedRowKeys = [];
        this.roleId = "";
      }
    },
    //编辑按钮
    handleEdit(obj) {
      this.editRoleForm.roleId = obj.id;
      this.editRoleForm.roleDesc = obj.roleDesc;
      this.editRoleForm.roleName = obj.roleName;
      this.editRoleDialog = true;
    },
    //删除
    async handleConfirm(id) {
      await delRole(id);
      this.getRolesLists();
    },
    //角色授权
    async deliverRole() {
      let arr = [...this.$refs.tree.getCheckedKeys(),...this.$refs.tree.getHalfCheckedKeys()]
      await deliverRole({
        roleId: this.roleId,
        rids: arr.join(',')
      })
      this.deliverRoleDialog = false
      this.getRolesLists()
    },
    //获取权限菜单tree
    async handleRightsDialog(obj) {
      this.expandedRowKeys = []
      this.roleId = obj.id
      this.deliverRoleDialog = true;
      const res = await getRightsByTree();
      this.data = res;
      let arr = []
      for(let i = 0; i < obj.children.length; i ++){
        for(let j = 0; j < obj.children[i].children.length; j ++){
          arr = arr.concat(obj.children[i].children[j].children)
        }
      }
      this.$nextTick(()=>{
        this.$refs.tree.setCheckedNodes(arr);
      })
      // this.$forceUpdate();
    },
  },
  created() {
    this.getRolesLists();
  },
};
</script>
<style scoped lang="scss">
.roles {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .add-role {
    margin-top: calc(30px - 15px);
    margin-bottom: 15px;
  }
}
</style>

