<template>
  <div class="home">
    <el-container style="height: 100vh">
      <el-aside width="initial" style="background-color: rgb(0, 21, 41)">
        <transition>
          <h4 class="logo">
            <span v-show="!isCollapse"> 后台管理系统 </span>
            <img
              v-show="isCollapse"
              style="width: 40px; height: 40px"
              src="http://pc.raz-kid.cn/img/logo.365f729e.jpg"
              alt=""
            />
          </h4>
        </transition>
        <el-menu
          :default-active="defaultActive"
          class="home-menu"
          :collapse="isCollapse"
          background-color="#001529"
          text-color="#A0A1A3"
          active-text-color="#fff"
          router
        >
          <el-submenu
            :index="'' + item.id"
            v-for="item in menuLists"
            :key="item.id"
          >
            <template slot="title">
              <i
                class="el-icon-platform-eleme"
                v-if="item.authName === '用户管理'"
              ></i>
              <i
                class="el-icon-location"
                v-else-if="item.authName === '权限管理'"
              ></i>
              <i class="el-icon-s-tools" v-else></i>
              <span slot="title">{{ item.authName }}</span>
            </template>
            <el-menu-item
              v-for="_item in item.children"
              :key="_item.id"
              :index="_item.path"
              >{{ _item.authName }}</el-menu-item
            >
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-header class="home-head">
          <i
            v-show="!isCollapse"
            class="el-icon-s-fold collapse"
            @click="handleCollapse"
          ></i>
          <i
            v-show="isCollapse"
            class="el-icon-s-unfold collapse"
            @click="handleCollapse"
          ></i>
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="signOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{ $store.state.username }}</span>
        </el-header>
        <el-main style="overflow-x: hidden">
          <div class="nav-tags">
            <el-tag
              size="small"
              closable
              :type="item.routeName == $route.name ? 'success' : 'info'"
              @click="toPage(item.routeName)"
              v-for="item in navTags"
              :key="item.title"
              >{{ item.title }}</el-tag
            >
          </div>
          <transition name="fade-transform" mode="out-in">
            <router-view></router-view>
          </transition>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { getMenus } from "@/http/api";
import { mapMutations } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      isCollapse: false,
      menuLists: [],
      defaultActive: "",
      navTags: [],
    };
  },
  components: {},
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        this.defaultActive = route.name.toLowerCase();
        if(route.name === 'AddGoods'){
          this.defaultActive = 'goods'
        }
        let index = this.navTags.findIndex(
          (item) => item.routeName === route.name
        );
        if (index < 0) {
          this.navTags.push({
            title: route.meta.title,
            routeName: route.name,
          })
        }
      },
    },
  },
  methods: {
    ...mapMutations({
      handleState: "HANDLE_STATE",
    }),
    //展开折叠菜单
    handleCollapse() {
      this.isCollapse = !this.isCollapse;
    },
    //退出
    signOut() {
      // this.$store.commit('HANDLE_STATE', {
      //   username: '',
      //   token: ''
      // })
      this.handleState({
        username: "",
        token: "",
      });
      this.$message({
        type: "success",
        message: "退出成功！",
      });
      setTimeout(() => {
        this.$router.push({
          name: "Login",
        });
      }, 1000);
    },
    toPage(name) {
      this.$router.push({
        name,
      }).catch(er=>{});
    },
    
    //获取权限菜单
    // async getMenus(){
    //   const res = await getMenus(this.$route)
    //   this.menuLists = res
    // }
  },
  async beforeRouteEnter(to, from, next) {
    const res = await getMenus(to);
    next((vm) => {
      vm.menuLists = res;
    });
  },
  mounted() {
    
  },
};
</script>
<style lang="scss" scoped>
.home {
  background-color: #eee;
  .logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    transition: all 1s ease-in;
  }
  .home-menu {
    border: 0;
    &:not(.el-menu--collapse) {
      width: 180px;
      overflow: hidden;
    }
  }
  .home-head {
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .collapse {
      margin-right: auto;
      font-size: 20px;
    }
  }
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  /* fade-transform */
  .fade-transform-leave-active,
  .fade-transform-enter-active {
    transition: all 0.5s;
  }

  .fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
  }

  .fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
  .nav-tags {
    display: flex;
  }
}
</style>
