<template>
  <div class="login">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>欢迎登录</span>
      </div>
      <el-form ref="userForm" :model="loginObj" size="small" :rules="rules" status-icon>
        <el-form-item prop="username">
          <el-input placeholder="用户名" v-model="loginObj.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input placeholder="密码" type="password" v-model="loginObj.password">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" style="width:100%" @click.native="handleLogin">登录</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="success" style="width:100%" @click.native="clear">清空校驗</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { login } from '@/http/api'
export default {
  data() {
    const valiUsername = (rule, value, callback) => {
      const uPattern = /^[a-zA-Z0-9_-]{4,16}$/;
        if (!uPattern.test(value)) {
          callback(new Error('請輸入4-16位字符'));
        } else {
          callback();
        }
    }
    return {
      loginObj: {
          username: 'admin',
          password: '123456'
      },
      rules: {
        username: [
          { validator: valiUsername, trigger: 'change' }
        ],
        password: [
          { required: true, message: '密碼不能為空', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
      //登录
      // handleLogin(){
      //     console.log('123');
      //     this.$http('login', 'POST', {}, this.loginObj)
      //     .then(res => {
      //         console.log(res)
      //     })
      // }
      //登录
       handleLogin(){
        this.$refs.userForm.validate(async(valid) => {
          if (valid) {
            const res = await login(this.loginObj)
            this.$store.commit('HANDLE_STATE', {
              token: res.data.token,
              username: res.data.username
            })
            if(this.$route.query.redirect){
              this.$router.push({
                name: this.$route.query.redirect
              })
              return;
            }
            this.$router.push({
              name: 'Home'
            })
          } else {
            return false;
          }
        });
      },
      //清數校驗規則
      clear(){
        this.$refs.userForm.clearValidate(['password'])
      }
  },
};
</script>
<style scoped lang="scss">
.login {
  width: 100%;
  height: 100vh;
  background-image: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .box-card {
    width: 300px;
    margin-right: 150px;
  }
}
</style>
